<div id="presentation">

<h4>PROYECTOS DE REFERENCIA</h4>

<p>Artificial emotions (Gustavo Romano, 2018): <a href="http://4rt.eu/ae/">http://4rt.eu/ae/</a>


<h4>URLS VIDEOS</h4>
<ul>
    <li>Historias debidas Chicha Mariani(Canal Encuentro) <a href="https://www.youtube.com/watch?v=t50mBcqlxuk">https://www.youtube.com/watch?v=t50mBcqlxuk</a></li>
    <li>Infojus, lectura de condena a cadena perpetua La Cacha <a href="https://www.youtube.com/watch?v=R9SoHnxQxZ8">https://www.youtube.com/watch?v=R9SoHnxQxZ8</a></li>
    <li>Historias debidas Chicha Mariani(Canal Encuentro) <a href="https://www.youtube.com/watch?v=t50mBcqlxuk">https://www.youtube.com/watch?v=t50mBcqlxuk</a></li>
    <li>Lectura de condena a Etchecolatz (Televisión Pública Argentina, 2006) <a href="https://www.youtube.com/watch?v=wG4RWOUG_jQ">https://www.youtube.com/watch?v=wG4RWOUG_jQ</a></li>
    <li>Argentinos repudian cambio de sentencia al genocida Miguel Etchecolatz (teleSur TV,2017): <a href="https://www.youtube.com/watch?v=SACD0owgvS4">https://www.youtube.com/watch?v=SACD0owgvS4</a></li>
</ul>

    <h4>URLS TÉCNICAS</h4>

<ul>
    <li>OpenCV (Open source computer vision library) <a href="https://opencv.org/">https://opencv.org/</a></li>
<li>Tensorflow (Machine learning framework) <a href="https://www.tensorflow.org/">https://www.tensorflow.org/</a></li>
<li>Qwant search engine https://api.qwant.com</li>
</ul>

</div>
